In [2]:

import pandas as pd
import numpy as np

#read csv file
df = pd.read_csv('2023_subway_censusvar_agg.csv')
df2 = pd.read_csv('elevator-avail-2023.csv')

In [3]:
# show me the column names in df2
print(df2.columns)

Index(['Month', 'Borough', 'Equipment Type', 'Equipment Code', 'Total Outages',
       'Scheduled Outages', 'Unscheduled Outages', 'Entrapments',
       'Time Since Major Improvement', 'AM Peak Availability',
       'AM Peak Hours Available', 'AM Peak Total Hours',
       'PM Peak Availability', 'PM Peak Hours Available',
       'PM Peak Total Hours', '24-Hour Availability',
       '24-Hour Hours Available', '24-Hour Total Hours', 'Station Name',
       'Station MRN', 'Station Complex Name', 'Station Complex MRN'],
      dtype='object')

In [4]:
print (df.columns)

Index(['GEOID', 'Common Name', 'Equipment Description', 'Station MRN',
       'Station ID', 'Complex ID', 'GTFS Stop ID', 'Division', 'Line',
       'Stop Name', 'Borough', 'Daytime Routes', 'Structure', 'lat', 'long',
       'North Direction Label', 'South Direction Label', 'ADA', 'ADA Notes',
       'Georeference', 'STATE', 'COUNTY', 'TRACT', 'BLOCK', 'NAME', 'geometry',
       'population_estimate', 'sub_pop_estimate', 'amb_pop_estimate',
       'med_earn_estimate', 'population_moe', 'sub_pop_moe', 'amb_pop_moe',
       'med_earn_moe', 'outage_count'],
      dtype='object')

In [5]:
#rename columns
df2.rename(columns={'Equipment Code':'Common Name'}, inplace=True)

In [9]:


# Perform a left join to merge the DataFrames on the "Common Name" column
df_updated = pd.merge(df, df2[['Common Name', 'Time Since Major Improvement']], on='Common Name', how='left')

In [13]:

# Drop rows where "Common Name" or "Time Since Major Improvement" is NaN before the operation
df_clean = df_updated.dropna(subset=['Common Name', 'Time Since Major Improvement'])

# Then, proceed with grouping and finding the index of the max "Time Since Major Improvement"
idx = df_clean.groupby('Common Name')['Time Since Major Improvement'].idxmax()

# Select rows by the indices found
df_max_improvement = df_clean.loc[idx]

# df_max_improvement now contains rows of the highest "Time Since Major Improvement" for each "Common Name"

In [14]:
#write to csv
df_max_improvement.to_csv('2023_subway_merged2.csv', index=False)

In [32]:
#read csv file 
df = pd.read_csv('average-weekday-rider-2021.csv')

In [33]:
import pandas as pd


# Step 2: Extract data within brackets in the "Station Complex Name" column using a more specific regex pattern
# Adjusted regex pattern to capture the content within parentheses, assuming the actual delimiter is a parenthesis and not a bracket
df['Daytime Routes'] = df['Station Complex Name'].str.extract('\((.*?)\)')

# Step 3: Clean the extracted data - remove commas if they are not needed
df['Daytime Routes'] = df['Daytime Routes'].str.replace(',', ' ')

# Optionally, Step 4: Remove the data within brackets from the original "Station Complex Name" column
df['Station Complex Name'] = df['Station Complex Name'].str.replace('\s*\([^)]*\)\s*', '', regex=True)

# Show the result
print(df[['Station Complex Name', '2021', 'Daytime Routes']].head())

     Station Complex Name    2021 Daytime Routes
0  138 St-Grand Concourse   2,127            4 5
1  149 St-Grand Concourse   5,873          2 4 5
2   161 St-Yankee Stadium  12,374          B D 4
3                  167 St   5,066              4
4                  167 St   4,723            B D

In [34]:
#writing to csv
df.to_csv('average-weekday-rider-2021 new.csv', index=False)

In [56]:
#change column names
df.rename(columns={'Station Complex Name':'Stop Name','2021':'Ridership'}, inplace=True)
df

                  Stop Name Ridership   Daytime Routes
0    138 St-Grand Concourse     2,127              4 5
1    149 St-Grand Concourse     5,873            2 4 5
2     161 St-Yankee Stadium    12,374            B D 4
3                    167 St     5,066                4
4                    167 St     4,723              B D
..                      ...       ...              ...
270                   33 St    11,930                6
271         34 St-Herald Sq    45,739  B D F M N Q R W
272      34 St-Hudson Yards     8,608                7
273      34 St-Penn Station    27,237            1 2 3
274      34 St-Penn Station    30,078            A C E

[275 rows x 3 columns]

In [57]:
#write to csv
df.to_csv('average-weekday-rider-2021 new2.csv', index=False)

In [58]:
df3=pd.read_csv('2023_subway_merged2.csv')
df4=pd.read_csv('average-weekday-rider-2021 new2.csv')

In [59]:
#colum names 
print(df3.columns)
print(df4.columns)

Index(['GEOID', 'Common Name', 'Equipment Description', 'Station MRN_x',
       'Station ID', 'Complex ID', 'GTFS Stop ID', 'Division', 'Line',
       'Stop Name', 'Borough_x', 'Daytime Routes', 'Structure', 'lat', 'long',
       'North Direction Label', 'South Direction Label', 'ADA', 'ADA Notes',
       'Georeference', 'STATE', 'COUNTY', 'TRACT', 'BLOCK', 'NAME', 'geometry',
       'population_estimate', 'sub_pop_estimate', 'amb_pop_estimate',
       'med_earn_estimate', 'population_moe', 'sub_pop_moe', 'amb_pop_moe',
       'med_earn_moe', 'outage_count', 'Time Since Major Improvement_x',
       'Month', 'Borough_y', 'Equipment Type', 'Total Outages',
       'Scheduled Outages', 'Unscheduled Outages', 'Entrapments',
       'Time Since Major Improvement_y', 'AM Peak Availability',
       'AM Peak Hours Available', 'AM Peak Total Hours',
       'PM Peak Availability', 'PM Peak Hours Available',
       'PM Peak Total Hours', '24-Hour Availability',
       '24-Hour Hours Available', '24-Hour Total Hours', 'Station Name',
       'Station MRN_y', 'Station Complex Name', 'Station Complex MRN',
       'Time Since Major Improvement'],
      dtype='object')
Index(['Stop Name', 'Ridership', 'Daytime Routes'], dtype='object')

In [60]:
import pandas as pd

# Performing a left join to keep all rows from df and match with df1
merged_df = pd.merge(df3, df4, on=["Stop Name", "Daytime Routes"], how='left')

# List of columns from df1 that you want to ensure are blank if no match is found
# Replace 'Column1', 'Column2', etc., with the actual column names from df1
columns_from_df1 = ['Column1', 'Column2']

# Filling NaN values with blank strings for the specified columns from df1
for column in columns_from_df1:
    if column in merged_df.columns:  # Check if the column is in the merged DataFrame
        merged_df[column] = merged_df[column].fillna('')

# Now, merged_df contains the merged data with blanks for unmatched columns from df1

merged_df.head()

,GEOID,Common Name,Equipment Description,Station MRN_x,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,...,PM Peak Total Hours,24-Hour Availability,24-Hour Hours Available,24-Hour Total Hours,Station Name,Station MRN_y,Station Complex Name,Station Complex MRN,Time Since Major Improvement,Ridership
0,36061027900,EL103,ELE: EL103 - 300 - 191 St,300,300,300,110,IRT,Broadway - 7Av,191 St,...,124.0,0.976008,726.150000,744.0,191ST-BWY7-1,300.0,191 St - Station,300.0,37.0,"4,612"
1,36061027900,EL104,ELE: EL104 - 300 - 191 St,300,300,300,110,IRT,Broadway - 7Av,191 St,...,124.0,0.892047,663.683333,744.0,191ST-BWY7-1,300.0,191 St - Station,300.0,37.0,"4,612"
2,36061027900,EL105,ELE: EL105 - 300 - 191 St,300,300,300,110,IRT,Broadway - 7Av,191 St,...,124.0,0.972110,723.250000,744.0,191ST-BWY7-1,300.0,191 St - Station,300.0,37.0,"4,612"
3,36061027900,EL106,ELE: EL106 - 300 - 191 St,300,300,300,110,IRT,Broadway - 7Av,191 St,...,124.0,0.966689,719.216667,744.0,191ST-BWY7-1,300.0,191 St - Station,300.0,37.0,"4,612"
4,36061026900,EL107,ELE: EL107 - 301 - 181 St,301,301,301,111,IRT,Broadway - 7Av,181 St,...,124.0,0.955802,711.116667,744.0,181ST-BWY7-1,301.0,181 St - Station,301.0,25.0,348

In [61]:
#writing to csv
merged_df.to_csv('elevator_final.csv', index=False)